// цвета
$brandColor: #fb923d;
$brandColorHover: #E28337;
$textBrand: #B0662B;
$textBrandLink: #C97531;
$textPrimary: #31323A;
$textSecondary: #556575;
$textHint: #7A90A3;
$textComplementary: #47515E;

$baseGeneric: rgba(107, 132, 153, 0.10); //#6B8499 · 10%
$baseGenericAccent: rgba(107, 132, 153, 0.20); //#6B8499 · 20%
$baseMiscLight: rgba(107, 132, 153, 0.15); //#6B8499 · 15%
$baseBackground: #F5F7FA;
$colorRacuten: #BF0000;
$colorYahoo: #E9173D;
$textDanger: #E92903;
$textInfo: #3442DC;
$textWarning: #BD8E4B;
$colorSemantic: #647A8D;
$textPositive: #30AA44;
$textUtility: #6E4299;
